.scrollbar-thin {
  scrollbar-width: thin;

  scrollbar-color: #2c2c2c #202020;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #2d3748; /* Scrollbar track color */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #4c51bf; /* Scrollbar thumb color */

  border-radius: 10px;
}

.master-bg {
  background-image: url("./assets/Desktop\ -\ 1.svg");

  background-repeat: no-repeat;

  background-size: cover;
}

/* App.css */

/* Base styles for messages */
.message {
  padding: 10px;

  border-radius: 10px;

  margin-bottom: 10px;
}

/* Styles for bot messages */
.bot-message {
  background-color: #303030; /* Dark background for bot */

  color: white; /* White text for bot */

  font-size: 1.04rem;
}

/* Styles for user messages */
.user-message {
  background-color: #096a09; /* Example color for user */

  color: white; /* White text for user */

  font-size: 1.04rem;
}

/* Code block styles */
code {
  /* background-color: #f5f5f5; Light background for code blocks */

  color: #d6d925; /* Change this to your preferred code color */

  font-size: 1.05rem; /* Increase font size */

  padding: 2px 4px; /* Padding for code blocks */

  border-radius: 4px; /* Rounded corners for code blocks */
}

/* Bold text styles */
strong {
  font-weight: bold; /* Bold text */
}

.animated-bg{
  background: #12c2e9;  /* fallback for old browsers */

background-image: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: () no-repeat;
 -webkit-background-clip: text;
 background-clip: text;
 color: transparent;
 background-size:300%;
 animation-name: logo_animate ;
 animation-duration: 1s;
}

@keyframes logo_animate {
  from{
    background-position: left ;
  }
  to{
    background-position: right;  
  }
}