/* highlight.js default theme */
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/github-dark.min.css");

/* Adjust other styles as needed */

.scrollbar-thin {
  scrollbar-width: thin;

  scrollbar-color: #2c2c2c #202020;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #2d3748; /* Scrollbar track color */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #4c51bf; /* Scrollbar thumb color */

  border-radius: 10px;
}

.master-bg {
  background-image: url("./assets/Desktop\ -\ 1.svg");

  background-repeat: no-repeat;

  background-size: cover;
}

/* App.css */

/* Base styles for messages */
.message {
  padding: 10px;

  border-radius: 10px;

  margin-bottom: 10px;
}

/* Styles for bot messages */
.bot-message {
  background-color: #303030; /* Dark background for bot */

  color: white; /* White text for bot */

  font-size: 1.04rem;
}

/* Styles for user messages */
.user-message {
  background-color: #096a09; /* Example color for user */

  color: white; /* White text for user */

  font-size: 1.04rem;
}

/* Code block styles */
code {
  color: #d6d925; /* Code color */
  font-size: 0.8rem; /* Increase font size */
  padding: 4px 8px; /* Padding for code blocks */
  border-radius: 0.6rem; /* Rounded corners */
  white-space: pre-wrap; /* Allow wrapping of code */
  word-wrap: break-word; /* Break long words */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Bold text styles */
strong {
  font-weight: bold; /* Bold text */
}
.animated {
  min-height: 3px;
  background-image: linear-gradient(
    to right,
    #ff202f,
    #c145ff,
    #12c2e9,
    #12e95d
  );
  background-size: 200%;
  animation-name: logo_animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
.animated-bg {
  background: #12c2e9; /* fallback for old browsers */

  background-image: linear-gradient(
    to right,
    #ff202f,
    #c145ff,
    #12c2e9,
    #12e95d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: () no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  animation-name: logo_animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes logo_animate {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
